@charset "UTF-8";
/*
Theme Name: besserkongress
Theme URI: http://besser-kongress.de
Description: Template für besser:: den Münchner Schülerkongress
Version: 1.0
Author: Abdullah Khan, Benedict Lang, Elias Webinger, Jonas Glaser
*/
main {
  padding-top: 4em; }

.content {
  margin: 0 auto;
  max-width: 1200px;
  text-align: justify;
  padding: 0 1.5em 2em; }
  .content p {
    line-height: 1.5em; }
  .content img {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 5px 5px 0px rgba(150, 150, 150, 0.5); }
  .content blockquote {
    border-left: 3px solid #AF6EE5;
    margin: 0;
    padding-left: 2em;
    font-style: italic; }
  .content-headline {
    margin-bottom: 0.5em; }
  .content-underline {
    padding: 0;
    margin: 0 0 1em 0;
    float: left;
    width: 100px;
    border-color: #AF6EE5;
    text-align: left; }
  .content-leading-thumbnail {
    margin-bottom: 2em; }
  .content-meta {
    font-size: 1.05em;
    color: #6C7A89;
    margin-bottom: 2em; }
    .content-meta-author {
      font-weight: 600; }
  .content-backlink {
    font-size: 1.25em; }

.wp-caption {
  width: 100% !important; }
  .wp-caption-text {
    font-size: 0.8em;
    color: #6C7A89; }

.aligncenter {
  text-align: center; }

.alignright {
  text-align: right; }

footer {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 0;
  background: #AF6EE5;
  color: #fff; }

.footer-text-primary {
  font-size: 1em;
  font-weight: 500; }
.footer-inner {
  text-align: center; }
.footer-link {
  color: #fff; }
  .footer-link a {
    font-weight: 200; }
.footer-social {
  margin-top: 3em; }
  .footer-social-icon {
    margin-left: 0.75em; }
.footer-navigation {
  margin-top: 1.5em; }
  .footer-navigation-menu ul {
    padding: 0; }
  .footer-navigation-menu li {
    display: inline;
    list-style: none; }
    .footer-navigation-menu li:after {
      content: ' | '; }
    .footer-navigation-menu li:last-child:after {
      content: ''; }
  .footer-navigation-menu a {
    color: #fff; }

.header {
  position: relative;
  margin: 0;
  z-index: 1000;
  background-repeat: no-repeat;
  background-size: 100% auto;
  box-shadow: 0px 5px 5px 0px rgba(150, 150, 150, 0.5); }
  .header-inner {
    margin: 0 auto;
    max-width: 100%;
    background: white;
    box-shadow: 0px 5px 5px 0px rgba(150, 150, 150, 0.5); }
  .header-logo {
    height: 150px;
    transition: all 0.5s;
    padding-top: 10px;
    margin-left: 50px; }
  .header-sticky {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0; }
    .header-sticky .header-logo {
      height: 80px; }
  .header-image {
    width: 100%;
    margin-top: 0; }
  .header-navigation {
    margin-top: 20px;
    float: right;
    padding: 1em 1.5em;
    font-size: 1.25em;
    font-weight: 400; }
    .header-navigation-menu ul {
      display: flex;
      justify-content: flex-end; }
      .header-navigation-menu ul li {
        list-style: none;
        margin-left: 1.25em; }
        .header-navigation-menu ul li a {
          font-weight: 400;
          color: #AF6EE5;
          font-size: 1.25em;
          text-decoration: none; }
          .header-navigation-menu ul li a:hover {
            color: #AF8CE5;
            text-decoration: underline; }
    .header-navigation-burger {
      display: none; }
    .header-navigation a {
      color: #AF6EE5; }
    .header-navigation .current_page_item,
    .header-navigation .current-menu-item {
      text-decoration: underline; }

/**
 * This media query is responsible for scaling the logo and font-size if the screen is smaller than 1200px
 */
@media (max-width: 1200px) {
  .header-logo {
    height: 100px;
    margin-left: 2em; }
  .header-navigation {
    font-size: 1em;
    margin-top: 10px; } }
@media (max-width: 991px) {
  .header-navigation-menu {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s linear; }
    .header-navigation-menu ul {
      display: block;
      position: absolute;
      right: 0;
      z-index: 10000;
      text-align: right;
      padding: 1em 1em 1em 1em;
      background: white;
      margin-right: 1.5em;
      box-shadow: 1px 1px 5px 0px rgba(10, 10, 10, 0.1); }
      .header-navigation-menu ul li {
        padding: 0.5em 0 0.5em 0; }

  .header-navigation-burger {
    transition: fill 0.5s;
    display: block;
    fill: #AF6EE5; }
    .header-navigation-burger--clicked {
      fill: #AF8CE5; } }
.is-visible {
  visibility: visible !important;
  opacity: 1 !important; }

html {
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: 300; }
  body a {
    color: #AF6EE5;
    font-weight: 400;
    text-decoration: underline; }
    body a:hover {
      text-decoration: underline;
      color: #AF8CE5; }

h1 {
  text-align: left;
  font-size: 3em;
  font-weight: 500;
  color: #AF6EE5; }
  @media (max-width: 991px) {
    h1 {
      font-size: 1.5em; } }

h3 {
  text-align: left;
  color: #AF6EE5;
  font-size: 1.25em;
  font-weight: 400; }

.sharingbar {
  margin-bottom: 4em; }
  .sharingbar img {
    box-shadow: none;
    padding: 0;
    margin: 0;
    margin-right: 1em; }
  .sharingbar a {
    padding: 0;
    margin: 0; }

.button {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  font-size: 1.25em;
  background: #AF6EE5;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 1em;
  margin-bottom: 1em; }
  .button:hover {
    background: #AF8CE5;
    color: #fff;
    text-decoration: none; }
  .button-outline {
    text-decoration: none;
    color: #AF6EE5;
    background: none;
    border: 2px solid #AF6EE5; }
    .button-outline:hover {
      background: #AF6EE5;
      color: #fff;
      text-decoration: none; }

.teaser {
  padding-top: 2em;
  padding-bottom: 4em;
  box-shadow: 0px 2px 2px 0px rgba(150, 150, 150, 0.5); }
  @media (min-width: 1200px) {
    .teaser .content {
      width: 50%; } }
  .teaser-dark {
    background: #ECECEC; }
  .teaser .attachment-post-thumbnail {
    max-width: 100%;
    height: auto; }
  .teaser-meta {
    font-size: 1.05em;
    color: #6C7A89; }
    .teaser-meta-author {
      font-weight: 600; }
  .teaser-link {
    text-decoration: none; }
    .teaser-link:hover {
      color: #AF8CE5; }
  .teaser h2 {
    font-size: 2em;
    font-weight: 300; }

/*# sourceMappingURL=style.css.map */
