$color-msb-blue: rgba(26, 120, 189, 1.0);
$color-msb-blue-dark: rgba(36, 53, 114, 1.0);

$color-primary: #AF6EE5;
$color-secondary: #AF8CE5;

$color-caption: #6C7A89;
$color-dark-teaser: #ECECEC;

$color-header-background: #fff;

$color-menu: $color-primary;
$color-menu-hover: $color-secondary;
$color-menu-burger-background: rgba(255,255,255, 1);

$color-footer-text: #fff;
$color-footer-link: #fff;
$color-footer-link-hover: #fff;

$color-button: $color-primary;
$color-button-text: #fff;
$color-button-hover: $color-secondary;

$color-h2: $color-primary;
$color-h3: $color-primary;

$color-link: $color-primary;
$color-link-hover: $color-secondary;
