$font-source-sans-pro: 'Source Sans Pro', sans-serif;

$font: $font-source-sans-pro;

$font-size-default: 1rem;
$font-size-content: 1.125em;
$font-size-caption: 0.8em;

$font-line-height: 1.5em;


$font-size-h1: 3em;
$font-size-h1-smaller: 1.5em;
$font-size-h2: 2em;
$font-size-h3: 1.25em;
$font-size-menu: 1.25em;
$font-size-menu-smaller: 1em;
$font-size-sidebar-text: 1.125em;
$font-size-button: 1.25em;

$font-weight-h1: 500;
$font-weight-h2: 300;
$font-weight-h3: 400;
$font-weight-strong: 700;
$font-weight-link: 400;
$font-weight-menu: 400;

$font-weight-caption: 600;
$font-style-caption: italic;

$font-size-teaser-headline: 1.5em;
