main {
  padding-top: 4em;
}
.content {
  margin: 0 auto;
  max-width: $size-inner;
  text-align: justify;
  padding: 0 1.5em 2em;

  p {
    line-height: $font-line-height;

  }

  img {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 5px 5px 0px rgba(150,150,150,0.5);
  }

  blockquote {
    border-left: 3px solid $color-primary;
    margin: 0;
    padding-left: 2em;
    font-style: italic;
  }

  &-headline {
    margin-bottom: 0.5em;
  }

  &-underline {
    padding: 0;
    margin: 0 0 1em 0;
    float: left;
    width: 100px;
    border-color: $color-primary;
    text-align: left;
  }

  &-leading-thumbnail {
    margin-bottom: 2em;
  }

  &-meta {
      font-size: $font-size-caption + 0.25em;
      color: $color-caption;
      margin-bottom: 2em;

      &-author {
        font-weight: 600;
      }
  }

  &-backlink {
    font-size: 1.25em;
  }
}

.wp-caption {
  width: 100% !important;

  &-text {
    font-size: $font-size-caption;
    color: $color-caption;

  }
}

.aligncenter {
  text-align: center;
}

.alignright {
  text-align: right;
}
