footer {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 0;
  background: $color-primary;
  color: $color-footer-text;
}

.footer {
  &-text{
    &-primary {
      font-size: $font-size-menu-smaller;
      font-weight: 500;
    }
  }
  &-inner {
    text-align: center;
  }

  &-link {
    color: $color-footer-link;
    a {
      font-weight: 200;

    }
  }

  &-social {
    margin-top: 3em;
    &-icon {
      margin-left: 0.75em;
    }
  }

  &-navigation {
    margin-top: 1.5em;

    &-menu {
      ul {
        padding: 0;
      }

      li {
        display: inline;
        list-style: none;

        &:after {
          content: ' | ';
        }

        &:last-child {
          &:after{
            content: '';
          }
        }
      }
      a {
        color: $color-footer-link;

      }
    }
  }
}
