.header {
  position: relative;
  margin: 0;
  z-index: 1000;
  background-repeat: no-repeat;
  background-size: 100% auto;
  box-shadow: 0px 5px 5px 0px rgba(150,150,150,0.5);


  &-inner {
    margin: 0 auto;
    max-width: 100%;
    background: white;
    box-shadow: 0px 5px 5px 0px rgba(150, 150, 150, 0.5);
  }

  &-logo {
    height: 150px;
    transition: all 0.5s;
    padding-top: 10px;
    margin-left: 50px;
  }

  &-sticky {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;

    .header-logo {
      height: 80px;
    }
  }

  &-image {
    width: 100%;
    margin-top: 0;
  }

  &-navigation {
    margin-top: 20px;
    float: right;
    padding: 1em 1.5em;
    font-size: $font-size-menu;
    font-weight: $font-weight-menu;

    &-menu {

      ul {
        display: flex;
        justify-content: flex-end;

        li {
          list-style: none;
          margin-left: 1.25em;

          a {
            font-weight: $font-weight-menu;
            color: $color-menu;
            font-size: $font-size-menu;
            text-decoration: none;


            &:hover {
              color: $color-menu-hover;
              text-decoration: underline;
            }
          }
        }
      }
    }

    &-burger {
      display: none;
    }

    a {
      color: $color-primary;
    }

    .current_page_item,
    .current-menu-item {
      text-decoration: underline;
    }
  }
}

/**
 * This media query is responsible for scaling the logo and font-size if the screen is smaller than 1200px
 */
@media(max-width: 1200px){
  .header{
    &-logo {
      height: 100px;
      margin-left: 2em;
    }

    &-navigation {
      font-size: $font-size-menu-smaller;
      margin-top: 10px;
    }
  }
}

@media (max-width: 991px) {
  .header {
    &-navigation {
      &-menu {
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s linear;

        ul {
          display: block;
          position: absolute;
          right: 0;
          z-index: 10000;
          text-align: right;
          padding: 1em 1em 1em 1em;
          background: $color-menu-burger-background;
          margin-right: 1.5em;
          box-shadow: 1px 1px 5px 0px rgba(10, 10, 10, 0.1);

          li {
            padding: 0.5em 0 0.5em 0;

          }
        }
      }
    }
  }

  .header-navigation-burger{
    transition: fill 0.5s;
    display: block;
    fill: $color-primary;

    &--clicked {
      fill: $color-secondary;
    }
  }
}

.is-visible {
  visibility: visible !important;
  opacity: 1 !important;
}
