html {
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: $font;
  font-size: $font-size-default;
  font-weight: 300;

  .container {
  }

  a {
    color: $color-link;
    font-weight: $font-weight-link;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
      color: $color-link-hover;
    }
  }
}

h1 {
  text-align: left;
  font-size: $font-size-h1;
  font-weight: $font-weight-h1;
  color: $color-primary;

  @media(max-width: 991px){
    font-size: $font-size-h1-smaller;
  }
}

h3 {
  text-align: left;
  color: $color-h3;
  font-size: $font-size-h3;
  font-weight: $font-weight-h3;
}
