.button {
	display: inline-block;
  padding: 1em;
  text-decoration: none;
  font-size: $font-size-button;
  background: $color-button;
  color: $color-button-text;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 1em;
  margin-bottom: 1em;

  &:hover {
    background: $color-button-hover;
    color: $color-button-text;
    text-decoration: none;
  }

  &-outline {
    text-decoration: none;
    color: $color-button;
    background: none;
    border: 2px solid $color-button;

    &:hover {
      background: $color-button;
      color: $color-button-text;
      text-decoration: none;
    }
  }
}
