.teaser {
  padding-top: 2em;
  padding-bottom: 4em;
  box-shadow: 0px 2px 2px 0px rgba(150,150,150,0.5);


  .content {
    @media(min-width: 1200px){
      width: 50%;
    }
  }

  &-dark {
    background: $color-dark-teaser;
  }

  .attachment-post-thumbnail {
    max-width: 100%;
    height: auto;
  }

  &-meta {
      font-size: $font-size-caption + 0.25em;
      color: $color-caption;

      &-author {
        font-weight: 600;
      }
  }

  &-link {
    text-decoration: none;
    &:hover {
      color: $color-secondary;
    }
  }

  h2 {
    font-size: $font-size-h2;
    font-weight: $font-weight-h2;

  }
}
